@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: #535bf2;
}

body {
  background-color: #1e1f22;
  @apply w-[100vw] h-[100svh];
  margin: 0;
  padding: 0;
}

#app {
  @apply w-full h-full flex flex-col justify-center items-center;
  text-align: center;
}

html, body, .app {
  overflow: hidden;
}

.window_base {
  @apply rounded-box flex flex-col items-stretch;
  z-index: 2;
}
* {
  scrollbar-color: auto!important;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff30;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff80;
}